<input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %> <br>
<%= "Welcome, User Name: #{@user.username} User ID: #{session[:user_id].to_s}"%>